build
src/pro/multimax/build
src/pro/Pelee4/build
src/pro/Estrella/build
src/pro/Davinson/build
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
src/pro/multimax/MiJuego

src/pro/inNominePatris/build
src/pro/inNominePatris/MiJuego
src/pro/inNominePatris/recursos
!src/pro/inNominePatris/recursos/lista-de-atribuciones.md