build
MiJuego
src/pro/multimax/build
src/pro/Pelee4/build
src/pro/Estrella/build
src/pro/Davinson/build
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
src/pro/multimax/MiJuego

src/build
src/MiJuego
src/resources
src/savefile.txt
